{% extends 'base.html.twig' %}

{% block body %}
{{ include('nav/navbar.html.twig') }}

<h1>Modifier le pin #{{ pin.id }}</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
<input type="submit" value="Modifier le Pin">
{{ form_end(form) }}

{% endblock %}