{% extends 'pins/layout_pins_app.html.twig' %}


{% block body %}
	
	{% if pins|length > 0 %}

		<h1 class="pins_number">{{ pluralize(pins|length, 'Pin') }}</h1>

		<div class="pins">

			{% for pin in pins %}
				<article class="pin">
					<div class="hidden-overflow">
						<a href="{{ path('app_pins_show', {id: pin.id}) }}">
							<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder-image.png')) | imagine_filter('square_thumbnail_md') }}"  alt="{{ pin.title }}">
						</a>
					</div>
					<div class="text">
						<h2><a href="{{ path('app_pins_show', {id: pin.id}) }}">{{ pin.title }}</a></h2>
						<p>{{ pin.description|u.truncate(25, '...', false) }}</p>
						<p><small>{{ pin.createdAt|ago }}</small></p>
					</div>
				</article>

			{% endfor %}
		</div>
	{% else %}
		<p>Aucun Pin à afficher. <a href="{{ path('app_pins_create') }}">Soyez le premier !</a></p>
	{% endif %}

	
{% endblock %}

