<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dorian Dev{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    
    {% block javascripts %}

        {{ encore_entry_script_tags('site') }}

    {% endblock %}

    {% block stylesheets %}

        {{ encore_entry_link_tags('site') }}

    {% endblock %}


</head>
<body>
    <header>

        <h1>Dorian Fenestre</h1>
        <H2>Développeur Web PHP Symfony</h2>

        </header>

        <main>
            {% block body %}{% endblock %}

            </main>

            <footer>
                <p>
                    &copy; {{ 'now'|date('Y') }}
                    &middot; <a href="{{ path('app_about') }}">A propos</a>
                </p>
            </footer>
        </body>
        </html>