{% extends 'pages/base.html.twig' %}
{% block body %}



    <div class="container">
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('build/images/card.png') }}">
                <h3>About</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Je vis dans les Deux-Sèvres à Bressuire depuis 2 ans et vous propose mes services de développeur web.</p>
                <a href={{ path('app_about') }}>Voir plus</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('build/images/card.png') }}">
                <h3>PHP</h3>
                <h3>Symfony</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>Développeur Backend PHP Symfony, je saurai également m'occuper de la partie visible de votre site - le frontend - à l'aide d'un beau CSS :)</p>
                <a href="#">Voir plus</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="face face1">
             <div class="content">
                <img src="{{ asset('build/images/card.png') }}">
                <h3>Projets</h3>
             </div>
          </div>
          <div class="face face2">
             <div class="content">
                <p>A venir ici, des projets ainsi que des exemples de réalisations.
                </p>
                <a href={{ path('app_projets') }}>Voir plus</a>
             </div>
          </div>
       </div>
    </div>



{% endblock %}
